body{
  background-color: #E32144;
}
.container{
  background-color: #DBF0E1;
}
.left-column p{
  margin-top: 0;
  margin-bottom: 0;
}
.left-column p a{
    font-weight: bold;
}
.staff-writer {
    font-style: italic;
}
